
$primary-color: #DDDDDD;
$slider-margin-top: 11%;
$slider-margin-bottom: 8%;
$slider-max-width: 940px;
$slider-control-border-color: #134880;

body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  height: 80px;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $primary-color;
  height: 80px;
  margin: 0;
  padding: 0;
}

.slider {
  margin-top: $slider-margin-top;
  margin-bottom: $slider-margin-bottom;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: $slider-max-width;

  .slider-wrapper {
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.5s ease-in-out;
    position: relative;
    left: 0;

    .slider-row:first-child {
      overflow: hidden;
    }

    .slider-row {
      display: flex;
      overflow: hidden;
      position: relative;
      left: -1%;
      width: 100%;
      margin: 0;
    }
  }

  #slider2 {
    position: relative;
    left: -15%;
  }

  .slider-image {
    border-radius: 15px;
    flex: 0 0 15%;
    box-sizing: border-box;
    padding: 5px;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    height: 200px;
  }

  .slider-controls {
    text-align: right;
    position: absolute;
    bottom: 25%;
    left: 60%;
    transform: translateX(-50%);
  }

  .slider-control {
    border: 2px solid $slider-control-border-color;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 20px 25px;
    width: 20px;
    cursor: pointer;

    &.slider-right {
      margin-top: 10px;
    }
  }

  .slider-left.disabled,
  .slider-right.disabled {
    visibility: hidden;
  }
}
